#             DATA ANALYSIS OF NETFLIX

In [13]:
import pandas as pd
dataframe = pd.read_csv("C:\\Program Files\\Python36\\suven\\Notebooks\\netflix_titles.csv")
dataframe.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [33]:
dataframe[dataframe["release_year"]==2019]
concat= pd.concat([dataframe["title"],dataframe["type"]])
concat[dataframe["type"]=='Movie']
filterdata = dataframe[dataframe['director'].str.contains("Tilak Shetty",na=False)]
filterdata[filterdata['type']=='Movie']
print(filterdata['show_id'].count())
filterdata.drop(filterdata.index[1],inplace=True)
print(filterdata['show_id'].count())
filterdata[['show_id','title','cast','rating']]

6
5

,show_id,title,cast,rating
13,80182483,Krish Trish and Baltiboy: Battle of Wits,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",TV-Y7
15,80182482,Krish Trish and Baltiboy: Comics of India,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",TV-Y7
16,80182597,Krish Trish and Baltiboy: Oversmartness Never ...,"Rishi Gambhir, Smita Malhotra, Deepak Chachra",TV-Y7
18,80182621,Krish Trish and Baltiboy: The Greatest Trick,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",TV-Y7
1244,80182622,Krish Trish and Baltiboy: Face Your Fears,"Tarun Ratnani, Smita Malhotra, Deepak Chachra",TV-Y7